@using System.Data;
@{
    MST_StudentModel studentModel = new MST_StudentModel();
}
@{
    string dateFormate(String input)
    {
        string[] ans = new string[3];
        ans = input.Split(' ');
        return ans[0];
    }
}
@if (TempData["message"] != null)
{
    if (TempData["message"].ToString().Contains("Successfully"))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle me-1"></i>
            @TempData["message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">Danger Heading</h4>
            <p>@TempData["message"]</p>
            <hr>
            <p class="mb-0">Somthing Went Wrong!</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

}
<style>
   .search-form input {
        border: 0;
        font-size: 14px;
        color: #012970;
        border: 1px solid rgba(1, 41, 112, 0.2);
        padding: 7px 38px 7px 8px;
        border-radius: 3px;
        transition: 0.3s;
        width: 100%;
   }
    .search-form button{
        border: 0;
        padding: 0;
        margin-left: -30px;
        background: none;
    }
</style>
<div class="row">
    <div class="search-bar col-md-4 mb-3">
        <form class="search-form d-flex align-items-center" asp-action="SearchStudentName">
            <input type="text" name="studentName" placeholder="Student Name" title="Enter search keyword" id="txtSearch">
            <button type="submit" title="Search" fdprocessedid="mgo3f"><i  class="bi bi-search"></i></button>
        </form>
        
    </div><!-- End Search Bar -->

</div>
<div class="row">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Student Table</h5>
            <!-- Default Table -->
            @if (ViewBag.Student != "NULL")
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Student Name</th>
                            <th scope="col">Branch Code</th>
                            <th scope="col">City Code</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Modified Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow data in Model.Rows)
                        {
                            <tr>
                                <th scope="row">@data["StudentID"]</th>
                                <td>@data["StudentName"]</td>
                                <td>@data["BranchCode"]</td>
                                <td>@data["CityCode"]</td>
                                <td>@dateFormate(data["Created"].ToString())</td>
                                <td>@dateFormate(data["Modified"].ToString())</td>
                                <td>
                                    <a asp-action="MST_StudentProfile" asp-controller="MST_Student" asp-route-id="@data["StudentID"]" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-person-lines-fill"></i></a>
                                    <a asp-action="MST_StudentDelete" asp-controller="MST_Student" asp-route-id="@data["StudentID"]" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h3>No Record Found</h3>
            }
            <!-- End Default Table Example -->
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            var studentName = '@ViewBag.Student';
            $("#txtSearch").val(studentName);
        });
    </script>
}